* {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Menu section*/
.menu-container{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu{
    height: 50px;
    width: 1200px;
    display:flex;
    justify-content: space-around;
}

.header-logo {
    font-size: 24px;
}

.links{
    display:flex;
}

.link-one,
.link-two,
.link-three{
    margin-left: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

/*Header section*/
.header-container {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-top: 20px 0;
    display: flex;
    justify-content: center;
}

.header {
    height: 420px;
    width: 1200px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.header-text {
    padding: 0 55px;
}


.header-text .heading {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}


.header-text .description {
    font-size: 18px;
    margin: 10px 0;
    color: #E5E7EB;
}

.header-text .button {
    background-color: #3882F6;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.header-image {
    padding: 0px 25px 0px 25px;
}

.header-image img{
    height: 240px;
    width: 460px;
    border-radius: 10px;
    border: 1px solid black;
}

/*Photo Grid*/
.photo-grid-container {
    padding-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.photo-grid-title {
    color:#1F2937;
    font-size: 36px;
    font-weight: bold;
    padding: 25px;
}

.photo-grid {
    height: 350px;
    width: 800px;
    display: flex;
    justify-content: space-around;
}

.photo-grid-item {
    padding: 20px;
}

.photo-grid-item p {
    color: #1F2937;
}

.photo-grid-item img {
    width: 150px;
    height: 180px;
    border-radius: 15px;
}

/*Quote section*/
.quote-container {
    background-color: #E5E7EB;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.quote {
    margin-top: 150px;
    padding: 25px 0;
    height: 350px;
    width: 800px;
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    font-size: 24px;
    font-weight: bold;
    margin: 25px 25px 0 0;
    display: flex;
    justify-content: end;
}

/*Sign-up container*/
.sign-up-container {
    height: 350px;
    display: flex;
    justify-content: center;
}

.sign-up-banner {
    background-color: #3882F6;
    margin-top: 100px;
    padding: 45px;
    border-radius: 4px;
    height: 150px;
    width: 1000px;
    display: flex;
    justify-content: space-around;
}

.sign-up .heading{
    font-size: 24px;
    color:#F9FAF8;
}

.sign-up .text{
    font-size: 18px;
    color:#E5E7EB;
}

.sign-up-banner .button {
    background-color: #3882F6;
    border: 2px white solid;
    border-radius: 4px;
    color: white;
    height: 35px;
    margin-top: 10px;
    padding: 5px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*Footer section*/
.footer-container {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #1F2937;
    height: 90px;
    width: 100%;
    padding: 35px 0;
    display: flex;
    justify-content: center;
}

.footer .heading {
    font-size: 16px;
    color: #E5E7EB;
}